@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Yellowtail';
  src: url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap') format('truetype');
};

body::-webkit-scrollbar {
  display: none;
}